/* color p #434455 */
/* color h1 #FFFFFF */
/* color h2/h3 #2E2F42; */
/* color p and studio in footer #F4F4FD */
/* color "web" and (btn in the hero) #4D5AE5; */
/* background color filter btn, order in the hover #404BBF; */
/* filter btn background: #F4F4FD; */
/* filter btn-text color: #4D5AE5; */
/* frame-color: #E7E9FC; */
/* background hover-media-footer: #31D0AA; */
/* customers-icon: #8E8F99; */
:root {
  --color-text-fil-btn: #4d5ae5;
  --hover: #404bbf;
  --bg-fil-btn: #f4f4fd;
  --main-color: #434455;
  --primery-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --color-filt-accent: #ffffff;
  --color-h2-h3-texheader: #2e2f42;
  --frame-color: #e7e9fc;
  --media-bg-foot-hover: #31d0aa;
  --customers-icon: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bg-modal: #fcfcfc;
  --modal-form-input-border: rgba(46, 47, 66, 0.4);
}

body {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-filt-accent);
}

/*reset*/

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  /*outline: 1px solid red;*/
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  /* max-width: 1158px; */
  min-width: 320px;
  /* max-width: 428px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
  padding-inline: 16px;
}
.h-contein {
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
header, section, footer {
  min-width: 320px;
}
.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
section,
footer {
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1160px) {
  .container {
    max-width: 1160px;
  }
}

/**
  |============================
  | Header
  |============================
*/
.nav-li {
  list-style: none;
  display: flex;
}
.nav-li-mobile {
  list-style: none;
}
.header-contact {
  font-style: normal;
}
.header {
  position: relative;
  border-bottom: 1px solid var(--frame-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
  .header .container {
    max-width: 100%;
  }
}
.active {
  position: relative;
}
.header-nav.active {
  color: var(--hover);
}
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover);
  border-radius: 2px;
  display: block;
}

.header-nav {
  color: var(--color-h2-h3-texheader);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: flex;
  transition: color var(--transition);
}
.header-nav:hover,
.header-nav:focus {
  color: var(--hover);
}
@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .header .addr {
    flex-direction: column;
    gap: 12px;
    
  }
}

.contact {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
  display: flex;
  transition: color var(--transition);
}
@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .contact {
    padding: 0;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
}
  }

.contact:hover,
.contact:focus {
  color: var(--hover);
}
.addr {
  list-style: none;
  gap: 40px;
  display: flex;
}
.item:not(:last-child) {
  margin-right: 40px;
}

.header .container {
  display: flex;
}
@media only screen and (max-width: 1159px) {
  .header .container {
    justify-content: space-between; 
  }
}
@media only screen and (min-width: 1160px) {
  .header-contact {
    margin-left: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
}
/* Menu mobile /////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo-studio {
  color: var(--color-h2-h3-texheader);
}
@media only screen and (max-width: 767px) {
  .nav-li,
  .header-contact {
    display: none;
  }
}
.mobile {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.js-open-menu {
  background: none;
  border: none;
  stroke: var(--color-h2-h3-texheader);
}
.js-menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 80px 35px 40px 40px;
  background-color: var(--color-filt-accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  overflow-y: scroll;

  transform: translateY(-100%);
  transition: var(--transition) transform;
}
.js-menu-container.is-open {
  transform: translateY(0);
}
.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
}
.header-nav-mob {
  color: var(--color-h2-h3-texheader);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  transition: color var(--transition);
}
.nav-mobile {
  margin-bottom: 40px;
}

.nav-mobile .item:not(:last-child) {
  margin-bottom: 40px;
}

.active-mob {
  position: relative;
  color: var(--hover);
}
.addr-mobile {
  font-style: normal;
  list-style: none;
}
.mob-contacts {
  margin-top: auto;
  margin-bottom: 48px;
}
.mob-contacts .contact-mail {
  color: currentColor;
}
  
.mob-contacts .m-tel {
  color: var(--color-text-fil-btn);
  margin-bottom: 40px;
  display: block;
}

@media only screen and (max-width: 427px) {
  .mob-contacts .tel {
    font-size: clamp(24px, 7.5vw, 36px);
  }
}

.mob-contacts .mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.js-menu-container .socials-links-m {
  max-width: 328px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/**
  |============================
  | Main
  |============================
*/

/*webstudio index*/

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.title-bg {
  background-color: var(--color-h2-h3-texheader);
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-inline: auto;
}
.title {
  color: var(--color-filt-accent);
  max-width: 496px;
  margin-inline: auto;
  margin-bottom: 72px;
  
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg-mob@2x.jpg);
  }
}

@media only screen and (min-width: 576px) {
  .title-bg {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .title-bg {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg-tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 960px) {
  .title-bg {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .title-bg {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg-dekst@2x.jpg);
    }
  }
}
@media only screen and (min-width: 768px) {
  .title-bg .title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1160px) {
  .title-bg .title {
    margin-bottom: 48px;
  }
}
.order-btn {
  background-color: var(--color-text-fil-btn);
  color: var(--color-filt-accent);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  display: block;

  transition: background-color var(--transition), box-shadow var(--transition);
}
/* --------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1160px) {
  .sec-benef {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .sec-benef .li-benef {
    --count: 2;
    flex-basis: calc((100% - 24px * calc(var(--count) - 1)) / var(--count));
  }
}

@media only screen and (min-width: 1160px) {
  .sec-benef .benef-conteiner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--bg-fil-btn);
    border-radius: 4px;
  }

  .sec-benef .li-benef {
    --count: 4;
    flex-basis: calc((100% - 24px * calc(var(--count) - 1)) / var(--count));
  }
}

@media only screen and (max-width: 767px) {
  .sec-benef .h-categ {
    text-align: center;
  }
}
.sec-benef .h-categ {
  margin-bottom: 8px;
  color: var(--color-h2-h3-texheader);
}
@media only screen and (max-width: 1159px) {
  .sec-benef .h-categ {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .sec-benef .text-benef {
    font-weight: 500;
  }
  .benef-conteiner-icon {
  display: none;
  }
}

/*Benefits icons*/
.benef-conteiner-icon {
  position: relative;
  overflow: hidden;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
.sec-doing {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1159px) {
  .sec-doing {
    display: none;
  }
}
.nav-li-m {
  list-style: none;
  display: flex;
}
.h-doing,
.h-team {
  color: var(--color-h2-h3-texheader);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team {
  background-color: var(--bg-fil-btn);
  padding: 120px 0;
}
.team .list {
    justify-content: center;
}
.list-team {
  background-color: var(--color-filt-accent);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.text-team {
  font-size: 16px;
  margin-bottom: 8px;
}
.conteiner-team {
  padding: 32px 16px;
  text-align: center;
  padding: 32px 0;
}
/*Socials icons*/
.socials {
  justify-content: center;
  gap: 24px;
}
.socials-icon {
  fill: var(--bg-fil-btn);
}
.socials-link,
.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-text-fil-btn);
  border-radius: 50%;
  transition: background-color var(--transition);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--hover);
}
/*Customers*/

section .customers-sec {
  padding: 96px 0;
}
.customers-li {
  height: 88px;
  flex-grow: 1;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customers-icon);
  border: 1px solid var(--customers-icon);
  border-radius: 4px;

  transition: color var(--transition), border-color var(--transition);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover);
  color: var(--hover);
}
@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .customers-sec .container {
    max-width: 584px;
  }
  .footer .container {
    max-width: 584px;
  }
}

.customers-li {
  --count: 2;
  height: 88px;
  flex-basis: calc((100% - 24px * calc(var(--count) - 1)) / var(--count));
}

@media only screen and (max-width: 435px) {
  .customers-sec .list {
    column-gap: 16px;
  }

  .customers-li {
    flex-basis: calc((100% - 16px * calc(var(--count) - 1)) / var(--count));
  }
}

@media only screen and (min-width: 768px) {
  .customers-li {
    --count: 3;
    flex-basis: calc((100% - 24px * calc(var(--count) - 1)) / var(--count));
  }
}

@media only screen and (min-width: 1160px) {
  .customers-li {
    --count: 6;
    flex-basis: calc((100% - 24px * calc(var(--count) - 1)) / var(--count));
  }
}
/* ------------------------------------------------------------------------------------------------------ */

/*Portfolio*/
.portfolio-sec {
  padding: 96px 0 120px;
}
.filt-ul {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn-active:hover,
.btn-active:focus {
  color: var(--color-filt-accent);
  background-color: var(--hover);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filt-btn {
  color: var(--color-text-fil-btn);
  background: var(--bg-fil-btn);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--frame-color);
  border-radius: 4px;

  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition), border var(--transition);
}
/*-------------------*/
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.category-link:hover,
.category-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.category-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--transition);
}
.h-categ {
  color: var(--color-h2-h3-texheader);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.category {
  color: var(--main-color);
}
.link {
  text-decoration: none;
}
.container-categ {
  padding: 32px 16px;
  border: 1px solid var(--frame-color);
  border-top: none;
}
.secretive {
  position: relative;
  overflow: hidden;
}
.secretive-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--bg-fil-btn);
  background-color: var(--color-text-fil-btn);
  transform: translateY(100%);
  transition: transform var(--transition);
}
.category-link:hover .secretive-text,
.category-link:focus .secretive-text {
  transform: translateY(0);
}
/**
  |============================
  | Footer
  |============================
*/

.footer .container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 120px; */
}
.footer {
  background-color: var(--color-h2-h3-texheader);
  
}
@media only screen and (min-width: 1160px) {
  .footer {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1159px) {
  .footer .container {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1160px) {
  .conteiner-footl {
    margin-right: 120px;

  }
}
.logo {
  color: var(--color-text-fil-btn);
  flex-direction: row;
  align-items: center;
  display: flex;
  margin-right: 76px;
}
@media only screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .logo {
    margin-right: 0;
  }
}
.logof {
  display: block;
  margin-bottom: 16px;
  color: var(--color-text-fil-btn);
  flex-direction: row;
  align-items: center;
}
.logo-studio-foot {
  color: var(--bg-fil-btn);
}
.linkk {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-li-f {
  list-style: none;
  display: flex;
}
.text-footer {
  color: var(--bg-fil-btn);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  max-width: 264px;
}
@media only screen and (max-width: 767px) {

  .conteiner-footl .logof,
  .media-footer {
    text-align: center;
  }
}
/* .conteiner-footl {
  margin-right: 120px;
} */
.media-footer {
  font-weight: 500;
  color: var(--color-filt-accent);
  margin-bottom: 16px;
}


@media only screen and (max-width: 767px) {
  .subscribe-form .enter-mail-form {
    margin-bottom: 16px;
  }
}
/*Socials icons footer*/
.socials-footer {
  justify-content: center;
  gap: 16px;
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--media-bg-foot-hover);
}
/* Subscribe */

.subscribe {
  align-self: stretch;
}

@media only screen and (min-width: 1160px) {
  .subscribe {
    margin-left: auto;
  }
}
.scription {
  color: var(--color-filt-accent);
  margin-bottom: 16px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .scription {
    text-align: center;
  }
}
    
.subscribe-form {
  position: relative;
  display: block;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}
.subscribe-input {
  width: 100%;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  color: var(--bg-fil-btn);
  background-color: transparent;
  border: 1px solid var(--color-filt-accent);
  border-radius: 4px;
}
.subscribe-input:focus-visible {
  outline: none;
}
.email-label {
  position: absolute;
  top: 50%;
  left: 12px;
  padding-inline: 8px;
  color: var(--bg-fil-btn);
  background-color: var(--color-h2-h3-texheader);
  border-radius: 4px;
  transform: translateY(-50%);
  transition: var(--transition) transform;
  transform-origin: left;
}
.subscribe-input:focus + .email-label,
.subscribe-input:not(:placeholder-shown) + .email-label {
  transform: translateY(-36px) scale(0.8); 
}
@media only screen and (min-width: 768px) {
  .subscribe-form .subscribe-input {
    width: 264px;
  }
}
@media only screen and (max-width: 767px) {
 .email-label{
  top: 23%;
 } 
}


.subscribe .subscribe-btn {
    margin-inline: auto;
    padding: 8px 24px;
    min-width: 165px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--color-text-fil-btn);
  color: var(--color-filt-accent);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 8px 24px;
  min-width: 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
   
  transition: background-color var(--transition), box-shadow var(--transition);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover);
}
.subscribe-icon {
fill: currentColor;
}

/**
  |============================
  | Modal window
  |============================
*/
/* .lock-scroll:not(:has(.is-hidden)) {
  overflow: hidden;
} */
.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: var(--transition) opacity, var(--transition) visibility;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100vw, 408px);
  min-height: max-content;
  max-height: 100vh;
  padding: 24px;
  background-color: var(--bg-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
}

@media only screen and (max-height: 600px) {
  .modal-order {
    height: 100vh;
  }
}
.close-btn {
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  color: var(--color-h2-h3-texheader);
  background: var(--frame-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: var(--transition) color, var(--transition) background-color;
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--hover);
  color: var(--color-filt-accent);
}
.close-icon {
  fill: currentColor;
  margin: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: block;
  text-align: center;
  font-weight: 500;
  color: var(--color-h2-h3-texheader);
  margin-bottom: 16px;
}
.modal-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-icon);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
}
.modal-form-box {
  position: relative;
  height: 40px;
  display: grid;
  margin-bottom: 8px;
}
.modal-form-input {
  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: var(--transition);
}
.modal-form-input:focus {
  outline-color: var(--color-text-fil-btn);
}
.modal-form-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: var(--color-h2-h3-texheader);
  fill: currentColor;
  transition: var(--transition);
  pointer-events: none;
}
.modal-form-input:focus + .modal-form-icons{
  fill: var(--color-text-fil-btn);
} 

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: var(--transition);
}
.modal-form-message:focus {
  outline-color: var(--color-text-fil-btn);
}
.modal-form-agreement {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.modal-form-checkbox-link {
  color: var(--color-text-fil-btn);
}
.check-box {
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 8px;
  border: 1px solid var(--modal-form-input-border);
  border-radius: 2px;
  order: -1;
  transition: var(--transition) background-color;
}
.check-icon {
  opacity: 0;
  margin: auto;
}
.modal-form-checkbox:checked + .check-box {
  background-color: var(--hover);
  border: var(--hover);
}
.modal-form-checkbox:checked + .check-box .check-icon {
  opacity: 1;
}
/* ------------------------------------------------------------------------- */
/* .modal-open {
	animation: open-modal 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes open-modal {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* @keyframes close-modal {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
} */
